openapi: 3.0.1
info:
  contact:
    email: support@superlink.me
    name: API Support
    url: https://superlink.me/about#contact-us
  description: The Resolution API resolve Superlink domains
  termsOfService: https://assets.superlink.me/tos-v2.html
  title: Resolution API
  version: "1.0"
servers:
- url: https://api.superlink.me/
paths:
  /v1/health:
    get:
      description: Checks the health of the API
      operationId: health-check
      responses:
        "200":
          content: {}
          description: OK
        "500":
          content: {}
          description: Internal Server Error
      summary: Checks the health of the API
      tags:
      - health
  /v1/resolve/{domain}:
    get:
      description: resolve domain data by domain
      operationId: resolve-data-by-domain
      parameters:
      - description: firstname.lastname
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ResolveWalletAddressByDomainResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ResponseError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ResponseInternalServerError'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Resolves wallets and records given a domain
      tags:
      - resolution-api
components:
  schemas:
    api.DNSRecord:
      example:
        name: name
        type: type
        ttl: 0
        value: value
      properties:
        name:
          type: string
        ttl:
          type: integer
        type:
          type: string
        value:
          type: string
      type: object
    api.ResolveWalletAddressByDomainResponse:
      example:
        records:
        - name: name
          type: type
          ttl: 0
          value: value
        - name: name
          type: type
          ttl: 0
          value: value
        domain: domain
        wallets:
          key: wallets
      properties:
        domain:
          type: string
        records:
          items:
            $ref: '#/components/schemas/api.DNSRecord'
          type: array
        wallets:
          additionalProperties:
            type: string
          type: object
      type: object
    api.ResponseError:
      properties:
        field:
          type: string
        info:
          type: string
      type: object
    api.ResponseInternalServerError:
      properties:
        message:
          type: string
      type: object
  securitySchemes:
    BearerAuth:
      description: Type "Bearer" followed by a space and the JWT token.
      in: header
      name: Authorization
      type: apiKey
x-original-swagger-version: "2.0"
