openapi: 3.0.1
info:
  contact:
    email: support@superlink.me
    name: API Support
    url: https://superlink.me/about#contact-us
  description: API for Superlink
  license:
    name: MIT
  termsOfService: https://assets.superlink.me/tos-v2.html
  title: Superlink
  version: v0.4.1
servers:
- url: https://api.superlink.me/
paths:
  /v1/admin/access-token:
    delete:
      description: Deletes an access token
      operationId: admin-delete-access-token
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api.AccessTokenDeleteRequest'
        description: access token delete request
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Deletes an access token
      tags:
      - admin
      x-codegen-request-body-name: request
    get:
      description: Lists access tokens
      operationId: admin-list-access-tokens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.AccessTokenResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Lists access tokens
      tags:
      - admin
    post:
      description: Creates an admin token
      operationId: admin-create-access-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.AdminAccessTokenCreateRequest'
        description: access token create request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.AccessTokenResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Creates an admin token
      tags:
      - admin
      x-codegen-request-body-name: request
  /v1/admin/hns/tld/register:
    post:
      description: HNSTLDRegister registers a Handshake TLD
      operationId: hns-tld-register
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api.HNSRegisterTLDRequest'
        description: register hns tld request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.HNSRegisterTLDResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: HNSTLDRegister registers a Handshake TLD
      tags:
      - admin
      x-codegen-request-body-name: request
  /v1/admin/partner:
    get:
      description: Lists partners
      operationId: admin-list-partners
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.PartnerResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Lists partners
      tags:
      - admin
    post:
      description: Creates a partner
      operationId: admin-partner-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.AdminPartnerCreateRequest'
        description: partner create request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.PartnerResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Creates a partner
      tags:
      - admin
      x-codegen-request-body-name: request
  /v1/admin/reverse:
    delete:
      description: Removes a reverse resolution address from a domain
      operationId: remove-reverse-resolution-address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.ReverseResolutionDeleteRequest'
        description: reverse address delete request
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Removes a reverse resolution address from a domain
      tags:
      - admin
      x-codegen-request-body-name: request
    post:
      description: Assigns an address to a domain for reverse resolution
      operationId: set-reverse-resolution-address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.SetReverseAddressRequest'
        description: set reverse address request
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Assigns an address to a domain for reverse resolution
      tags:
      - admin
      x-codegen-request-body-name: request
  /v1/card-image/{domain}.svg:
    get:
      description: returns the image for a "domain" nft
      operationId: get-token-image-by-domain
      parameters:
      - description: firstname.lastname
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                type: string
          description: OK
        "404":
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
          description: Not Found
        "500":
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns a SVG image for a Superlink NFT
      tags:
      - nft
  /v1/domain:
    get:
      description: returns all the domains owned by a given ownerAddress
      operationId: get-all-domains
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.GetAllDomainsResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns all the domains owned by a given ownerAddress
      tags:
      - domain-info
  /v1/health:
    get:
      description: Checks the health of the API
      operationId: health-check
      responses:
        "200":
          content: {}
          description: OK
        "500":
          content: {}
          description: Internal Server Error
      summary: Checks the health of the API
  /v1/hns/tld/{tld}/check-if-claimed/{address}:
    get:
      description: tests if the wallet has already claimed a domain for this TLD.
      operationId: hns-tld-check-claimed
      parameters:
      - description: com
        in: path
        name: tld
        required: true
        schema:
          type: string
      - description: 0x123456789
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: tests if the wallet has already claimed a domain for this TLD.
      tags:
      - hns
  /v1/hns/tld/{tld}/sld/mint:
    post:
      description: HNSCreateDomain creates a handshake domain
      operationId: hns-domain-create
      parameters:
      - description: com
        in: path
        name: tld
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.HNSCreateDomainRequest'
        description: register hns tld request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.HNSDomainAvailableResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: HNSCreateDomain creates a handshake domain
      tags:
      - hns
      x-codegen-request-body-name: request
  /v1/hns/tld/{tld}/sld/mint-with-sig:
    post:
      description: creates a handshake domain authenticated by a signed message
      operationId: hns-domain-create-sig
      parameters:
      - description: com
        in: path
        name: tld
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api.HNSCreateDomainWithWalletRequest'
        description: register hns domain request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.HNSDomainAvailableResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: creates a handshake domain authenticated by a signed message
      tags:
      - hns
      x-codegen-request-body-name: request
  /v1/hns/tld/{tld}/sld/{sld}:
    delete:
      description: deletes a handshake domain
      operationId: hns-domain-delete
      parameters:
      - description: com
        in: path
        name: tld
        required: true
        schema:
          type: string
      - description: google
        in: path
        name: sld
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: deletes a handshake domain
      tags:
      - hns
  /v1/hns/tld/{tld}/sld/{sld}/available:
    get:
      description: checks if a handshake domain is available to mint
      operationId: hns-domain-available
      parameters:
      - description: com
        in: path
        name: tld
        required: true
        schema:
          type: string
      - description: google
        in: path
        name: sld
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.HNSDomainAvailableResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: checks if a handshake domain is available to mint
      tags:
      - hns
  /v1/hns/tld/{tld}/validate:
    get:
      description: HNSTLDValidation tests if the TLD blockchain DNS records are valid.
      operationId: hns-tld-validate
      parameters:
      - description: com
        in: path
        name: tld
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketPurchaseResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: HNSTLDValidation tests if the TLD blockchain DNS records are valid.
      tags:
      - hns
  /v1/login/email/{emailAddress}:
    post:
      description: Sends the e-mail that contains the magic link to login a specfic
        user
      operationId: send-login-email
      parameters:
      - description: /superlinks
        in: query
        name: returnUrl
        schema:
          type: string
      - description: test@superlink.me
        in: path
        name: emailAddress
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Sends the e-mail that contains the magic link to login a specfic user
      tags:
      - login
  /v1/login/link/{loginToken}:
    get:
      description: Sets the auth cookie for a client provided a valid encrypted json
      operationId: login-with-link
      parameters:
      - description: /superlinks
        in: query
        name: returnUrl
        schema:
          type: string
      - description: ycA4dEverAzydH0Df2si5QAqoFFeYJxDdszP2WIBEQ6rx%2FT98aJQ7HZSAl7abC1f%2BDYBlL6bQxOrr%2FVHgabyqC4ln1c8L%2BmkDRFC9QsR67kcW%2BZc92KAv9eGKdOyHgIjarjUw3FmQSeQpKsAtGytVRBzhVHLHQ%3D%3D
        in: path
        name: loginToken
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.AccessTokenResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Login via a magic link
      tags:
      - login
  /v1/login/wallet/{ownerAddress}:
    post:
      description: Sets the auth cookie for a client provided a valid wallet + signed
        message
      operationId: login-with-wallet
      parameters:
      - description: 0xA5D70E12348Fef6A123EBD1231b123c51235E321
        in: path
        name: ownerAddress
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.WalletLoginRequest'
        description: wallet login request
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "302":
          content: {}
          description: Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Login with a valid wallet
      tags:
      - login
      x-codegen-request-body-name: request
  /v1/market/crypto/estimate:
    get:
      description: CryptoEstimate returns the estimated conversion rates for supported
        crypto payment options
      operationId: market-crypto-estimate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketCryptoEstimationResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: CryptoEstimate returns the estimated conversion rates for supported
        crypto payment options
      tags:
      - market
  /v1/market/crypto/purchase:
    post:
      description: CryptoPurchase returns the payment details required for crypto
        payment
      operationId: market-crypto-purchase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.CryptoPurchaseRequest'
        description: crypto purchase request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketCryptoPurchaseResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: CryptoPurchase returns the payment details required for crypto payment
      tags:
      - market
      x-codegen-request-body-name: request
  /v1/market/order/{orderID}:
    get:
      description: Returns order information
      operationId: market-order
      parameters:
      - description: 92456d2b-c315-4b2b-b234-c674490b7324
        in: path
        name: orderID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketplaceOrderResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns order information
      tags:
      - market
  /v1/market/purchase:
    post:
      description: Purchase returns the payment details required by Stripe
      operationId: market-purchase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.PurchaseRequest'
        description: purchase request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketPurchaseResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Purchase returns the payment details required by Stripe
      tags:
      - market
      x-codegen-request-body-name: request
  /v1/market/search:
    post:
      description: Returns market listings
      operationId: market-search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.MarketSearchRequest'
        description: market search request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketSearchResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns market listings
      tags:
      - market
      x-codegen-request-body-name: request
  /v1/market/suggest:
    post:
      description: Returns market listings for suggestions
      operationId: market-suggestion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.MarketSuggestRequest'
        description: market suggest request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MarketSearchResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns market listings for suggestions
      tags:
      - market
      x-codegen-request-body-name: request
  /v1/metadata/{domain}:
    get:
      description: returns the metadata for a "domain" nft
      operationId: get-token-metadata-by-domain
      parameters:
      - description: firstname.lastname
        in: path
        name: domain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.DomainMetadataResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns metadata usually associated with NFTs uri
      tags:
      - nft
  /v1/parentdomains/{parentDomain}:
    get:
      description: Validates if parent domain is correctly configured for use with
        ens subdomains
      operationId: parentdomain-validation
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ParentDomainValidationResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Validates if parent domain is correctly configured for use with ens
        subdomains
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/addresses/{ethAddress}/reverse-resolve:
    get:
      description: Returns reverse-resolution of a provided eth address limited to
        provided parentdomain
      operationId: subdomain-reverse-resolve
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: 0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266
        in: path
        name: ethAddress
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainReverseResolveResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns reverse-resolution of a provided eth address limited to provided
        parentdomain
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/buy:
    post:
      description: Purchases and sets up a parent domain for use with ens subdomains
      operationId: parentdomain-purchase
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.ParentDomainPurchaseRequest'
        description: purchase parent domain
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Purchases and sets up a parent domain for use with ens subdomains
      tags:
      - subdomain
      x-codegen-request-body-name: request
  /v1/parentdomains/{parentDomain}/claimed/{ethAddress}:
    get:
      description: Returns subdomain availability
      operationId: subdomain-claimed
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: 0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266
        in: path
        name: ethAddress
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainAvailableResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns subdomain availability
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/list:
    get:
      description: Paginates over all subdomains in descending order of the creation
        date
      operationId: subdomain-list
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: KCJuYW1lIjoiYWJjLmRlZi5naGkiLCJkYXRlIjoiMjAyMS0xMS0xMSIp
        in: query
        name: pagination-token
        schema:
          type: string
      - description: "100"
        in: query
        name: page-size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Paginates over all subdomains in descending order of the creation date
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/per-day:
    get:
      description: Paginates over per-day aggregated counts for subdomains created
        given a parentdomain
      operationId: subdomain-per-day
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: KCJuYW1lIjoiYWJjLmRlZi5naGkiLCJkYXRlIjoiMjAyMS0xMS0xMSIp
        in: query
        name: pagination-token
        schema:
          type: string
      - description: "100"
        in: query
        name: page-size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainPerDayResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Paginates over per-day aggregated counts for subdomains created given
        a parentdomain
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/search:
    get:
      description: Returns a list of available parent-domains provided the preferred
        parent ddomain
      operationId: parentdomain-search
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ParentDomainSearchResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Returns a list of available parent-domains provided the preferred parent
        ddomain
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/subdomains/{subDomainName}:
    delete:
      description: Deletes a subdomain for provided parentdomain (Omnipotent)
      operationId: subdomain-revoke
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: test
        in: path
        name: subDomainName
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Deletes a subdomain for provided parentdomain (Omnipotent)
      tags:
      - subdomain
    get:
      description: Returns subdomain availability
      operationId: subdomain-available
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: test
        in: path
        name: subDomainName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainAvailableResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns subdomain availability
      tags:
      - subdomain
    post:
      description: Creates a subdomain for provided parentdomain
      operationId: subdomain-mint
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: test
        in: path
        name: subDomainName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.SubDomainMintRequest'
        description: create subdomain
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Creates a subdomain for provided parentdomain
      tags:
      - subdomain
      x-codegen-request-body-name: request
  /v1/parentdomains/{parentDomain}/subdomains/{subDomainName}/mint-with-sig:
    post:
      description: Creates a subdomain for provided parentdomain with signature
      operationId: subdomain-mint-sig
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: test
        in: path
        name: subDomainName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.SubDomainMintWithSigRequest'
        description: create subdomain
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Creates a subdomain for provided parentdomain with signature
      tags:
      - subdomain
      x-codegen-request-body-name: request
  /v1/parentdomains/{parentDomain}/subdomains/{subDomainName}/resolve:
    get:
      description: Returns resolution of a provided subdomain
      operationId: subdomain-resolve
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      - description: test
        in: path
        name: subDomainName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainResolveResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      summary: Returns resolution of a provided subdomain
      tags:
      - subdomain
  /v1/parentdomains/{parentDomain}/total:
    get:
      description: Returns the total number of subdomains registered to parentdomain
      operationId: subdomain-total
      parameters:
      - description: superlink.me
        in: path
        name: parentDomain
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.SubDomainTotalResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Returns the total number of subdomains registered to parentdomain
      tags:
      - subdomain
  /v1/partner/access-token:
    delete:
      description: Deletes an access token
      operationId: delete-access-token
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api.AccessTokenDeleteRequest'
        description: access token delete request
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Deletes an access token
      tags:
      - partner
      x-codegen-request-body-name: request
    get:
      description: Lists access tokens for a partner
      operationId: list-access-tokens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.AccessTokenResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Lists access tokens for a partner
      tags:
      - partner
    post:
      description: Creates an admin token for a partner
      operationId: create-access-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.AccessTokenCreateRequest'
        description: access token create request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.AccessTokenResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Creates an admin token for a partner
      tags:
      - partner
      x-codegen-request-body-name: request
  /v1/partner/purchases:
    get:
      description: Returns a list of all purchases
      operationId: partner-purchases
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.PurchaseListResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Returns a list of all purchases
      tags:
      - partner
  /v1/prove/wallet/eth/{ownerAddress}:
    get:
      description: Gets message which should be signed by an eth wallet as proof of
        ownership
      operationId: get-eth-wallet-message
      parameters:
      - description: 0xA5D70E12348Fef6A123EBD1231b123c51235E321
        in: path
        name: ownerAddress
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.WalletMessageResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BadRequestResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get message which should be signed by an eth wallet as proof of ownership
      tags:
      - prove
  /v1/resolve/{domain}:
    get:
      description: resolve domain data by domain
      operationId: resolve-data-by-domain
      parameters:
      - description: firstname.lastname
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: "superlink,ens,ud"
        explode: false
        in: query
        name: nameservices
        schema:
          items:
            enum:
            - ud
            - ens
            - superlink
            - icann
            type: string
          type: array
        style: form
      - description: "BTC,ETH,MATIC"
        explode: false
        in: query
        name: coins
        schema:
          items:
            enum:
            - BTC
            - LTC
            - DOGE
            - RDD
            - DASH
            - PPC
            - NMC
            - FTC
            - XCP
            - BLK
            - NSR
            - NBT
            - MZC
            - VIA
            - RBY
            - GRS
            - DGC
            - DGB
            - MONA
            - CLAM
            - XPM
            - NEOS
            - JBS
            - ZRC
            - VTC
            - NXT
            - BURST
            - MUE
            - ZOOM
            - SDC
            - PKB
            - PND
            - START
            - MOIN
            - EXP
            - DCR
            - XEM
            - PART
            - SHR
            - NVC
            - AC
            - BTCD
            - DOPE
            - TPC
            - AIB
            - EDRC
            - SYS
            - SLR
            - SMLY
            - ETH
            - PSB
            - XBC
            - NXS
            - INSN
            - OK
            - BRIT
            - CMP
            - CRW
            - BELA
            - ICX
            - FJC
            - MIX
            - CLUB
            - RICHX
            - POT
            - QRK
            - TRC
            - GRC
            - AUR
            - IXC
            - NLG
            - BITB
            - XMY
            - BSD
            - UNO
            - GB
            - SHM
            - CRX
            - BIQ
            - EVO
            - STO
            - BIGUP
            - GAME
            - DLC
            - ZYD
            - DBIC
            - STRAT
            - SH
            - MARS
            - UBQ
            - PTC
            - NRO
            - ARK
            - USC
            - THC
            - LINX
            - ECN
            - DNR
            - PINK
            - ATOM
            - PIVX
            - FLASH
            - ZEN
            - PUT
            - ZNY
            - UNIFY
            - XST
            - VC
            - XMR
            - VOX
            - NAV
            - ZEC
            - LSK
            - STEEM
            - XZC
            - RBTC
            - RPT
            - KMD
            - RIC
            - XRP
            - NEBL
            - ZCL
            - WHL
            - ERC
            - DMD
            - BTM
            - BIO
            - SSN
            - TOA
            - BTX
            - ACC
            - ELLA
            - PIRL
            - XNO
            - VIVO
            - FRST
            - HNC
            - BUZZ
            - MBRS
            - HC
            - HTML
            - ODN
            - ONX
            - RVN
            - GBX
            - BTCZ
            - POA
            - NYC
            - MXT
            - WC
            - MNX
            - MUSIC
            - CRAVE
            - STAK
            - LCH
            - EXCL
            - LCC
            - XFE
            - EOS
            - TRX
            - KOBO
            - HUSH
            - BAN
            - ETF
            - OMNI
            - BIFI
            - CNMC
            - BCN
            - RIN
            - ATP
            - EVT
            - ATN
            - BIS
            - NEET
            - BOPO
            - OOT
            - ALIAS
            - BOXY
            - FLO
            - MEC
            - BTDX
            - XAX
            - ANON
            - LTZ
            - SMART
            - XUEZ
            - HLM
            - WEB
            - ACM
            - BITC
            - TZC
            - VAR
            - IOV
            - FIO
            - BSV
            - DXN
            - PCX
            - LOKI
            - NIM
            - EXOS
            - ECA
            - SOOM
            - FREE
            - NPW
            - BST
            - ZEST
            - ABT
            - PION
            - ZBUX
            - KPL
            - TPAY
            - ZILLA
            - ANK
            - BCC
            - HPB
            - ONE
            - SBC
            - IPC
            - DMTC
            - OGC
            - SHIT
            - ANDES
            - AREPA
            - BOLI
            - RIL
            - BRAVO
            - ALGO
            - BZX
            - GXX
            - HEAT
            - XDN
            - FSN
            - BOLD
            - IOST
            - TKEY
            - USE
            - BCZ
            - IOC
            - ASF
            - MASS
            - FAIR
            - NUKO
            - CMT
            - EUNO
            - IOTX
            - ONION
            - BTS
            - UGAS
            - ADS
            - ARA
            - ZIL
            - MOAC
            - SWTC
            - VNSC
            - ECC
            - RPD
            - RAP
            - GARD
            - ZER
            - EBST
            - SHARD
            - CMM
            - BLOCK
            - AUDAX
            - LUNA
            - ZPM
            - MEM
            - SWIFT
            - FIX
            - CPC
            - VGO
            - DVT
            - MTNS
            - BLAST
            - DCT
            - AUX
            - USDP
            - HTDF
            - YEC
            - ARW
            - MDM
            - CYB
            - DOT
            - AEON
            - RES
            - AYA
            - DAPS
            - CSC
            - NOLLAR
            - XNOS
            - CPU
            - VCT
            - CZR
            - ABBC
            - HET
            - XAS
            - VDL
            - MED
            - ZVC
            - VESTX
            - DBT
            - SEOS
            - MXW
            - ZNZ
            - XCX
            - SOX
            - NYZO
            - ULC
            - KAL
            - XSN
            - DOGEC
            - QBC
            - IMG
            - QOS
            - PKT
            - LHD
            - CENNZ
            - UMBRU
            - EVER
            - XPC
            - NIX
            - UC
            - GALI
            - OLT
            - XBI
            - DONU
            - EARTHS
            - HDD
            - SUGAR
            - AILE
            - TENT
            - AIN
            - MSR
            - SUMO
            - ETN
            - BYTZ
            - WOW
            - XTNC
            - LTHN
            - NODE
            - AGM
            - TELOS
            - AION
            - KTV
            - ZCR
            - ERG
            - PESO
            - XRPHD
            - KSM
            - PCN
            - NCH
            - ICU
            - FNSA
            - AERGO
            - XTH
            - LV
            - PHR
            - VITAE
            - DIN
            - SPL
            - YCE
            - XLR
            - DGLD
            - XNS
            - EM
            - SHN
            - SEELE
            - AE
            - ODX
            - KAVA
            - GLEEC
            - FIL
            - RUTA
            - CSDT
            - ETI
            - ERE
            - BTH
            - MESG
            - FIMK
            - AR
            - OGO
            - RNG
            - PEXA
            - MOON
            - FCH
            - LAT
            - VEO
            - GFN
            - BAND
            - DROP
            - LYRA
            - CS
            - RUPX
            - THETA
            - SOL
            - THT
            - CFX
            - KUMA
            - HASH
            - CSPR
            - EARTH
            - EGLD
            - CHI
            - KOTO
            - XRD
            - AETH
            - DNA
            - SIERRA
            - LET
            - BTCV
            - ABA
            - SCC
            - EDG
            - AMS
            - BU
            - GRAM
            - YAP
            - NOVO
            - GHOST
            - HST
            - PRJ
            - YOU
            - BYND
            - FLOW
            - SCDO
            - BIND
            - COINEVO
            - SCRIBE
            - HYN
            - BHP
            - MKF
            - XDC
            - STR
            - HBC
            - KTS
            - LKR
            - XWC
            - DEAL
            - NTY
            - AG
            - CICO
            - IRIS
            - BDX
            - SLS
            - SRM
            - BPS
            - NKN
            - ICL
            - BONO
            - PLC
            - DUN
            - DMCH
            - CTC
            - GBCR
            - XDAG
            - SCAP
            - GTM
            - RNL
            - GRIN
            - MWC
            - DOCK
            - POLYX
            - DIVER
            - APN
            - MTC
            - NC
            - XINY
            - BUFS
            - STOS
            - TON
            - TAFT
            - HYDRA
            - NOR
            - WCN
            - PSWAP
            - XOR
            - SSP
            - DEI
            - ZERO
            - ALPHA
            - NOBL
            - EAST
            - KDA
            - SOUL
            - LORE
            - FNR
            - NEXUS
            - QTZ
            - XMA
            - CALL
            - VAL
            - EMIT
            - APTOS
            - ADON
            - BTSG
            - LFC
            - TREE
            - LX
            - XLN
            - ZRB
            - UCO
            - WMP
            - KOIN
            - PIRATE
            - ACT
            - PRKL
            - SSC
            - GC
            - PLGR
            - MPLGR
            - KNOX
            - ZED
            - CNDL
            - WLKRR
            - YUNGE
            - VOKEN
            - APL
            - EVRYNET
            - NENG
            - CHTA
            - OAS
            - KLV
            - VEIL
            - GTB
            - XDAI
            - COM
            - CHC
            - SERF
            - BNB
            - SIN
            - DLN
            - BONTE
            - PEER
            - ZET
            - ABY
            - XVC
            - MCX
            - HEALIOS
            - BMK
            - DENTX
            - CFG
            - XPRT
            - HONEY
            - BALLZ
            - COSA
            - BR
            - SUI
            - UIDD
            - ACA
            - BNC
            - TAU
            - PDEX
            - ZKS
            - QVT
            - MEER
            - REEF
            - CLO
            - BDB
            - ACE
            - CCN
            - BBA
            - CRUZ
            - SAPP
            - KYAN
            - AZR
            - CFL
            - TRTT
            - PNY
            - BECN
            - MONK
            - SAGA
            - SUV
            - ESK
            - BIR
            - MOBIC
            - FLS
            - DSM
            - HVH
            - MOB
            - IF
            - NAM
            - ZBC
            - NEO
            - TOMO
            - XSEL
            - LKSC
            - AS
            - XEC
            - LMO
            - HNT
            - FIS
            - SGE
            - GERT
            - META
            - FRA
            - CCD
            - GHM
            - LTP
            - VKAX
            - MATIC
            - UNW
            - TWINS
            - TLOS
            - AU
            - VCG
            - AIOZ
            - CORE
            - PEC
            - UNT
            - CAPS
            - SUM
            - TT
            - BKT
            - NODL
            - PCOIN
            - TAO
            - FTM
            - RPG
            - LAKE
            - ELV
            - BIC
            - EVC
            - ONT
            - CZZ
            - MCM
            - BTCR
            - RISE
            - DFI
            - EFI
            - ALPH
            - GLMR
            - MOVR
            - WPC
            - WEI
            - DFC
            - HYC
            - BEAM
            - ELF
            - AUDL
            - ATH
            - NEW
            - BTA
            - NEOX
            - MEWC
            - BCX
            - XTZ
            - BBP
            - ADA
            - TES
            - ZTX
            - CLC
            - VIPS
            - XMX
            - TRTL
            - EGEM
            - HODL
            - PHL
            - SC
            - MYT
            - POLIS
            - XMCC
            - COLX
            - GIN
            - MNP
            - MLN
            - KIN
            - EOSC
            - PKC
            - SKT
            - ANY
            - MCASH
            - "TRUE"
            - IOTE
            - BAY
            - XRG
            - CHZ
            - ASK
            - QTUM
            - ETP
            - GXC
            - CRP
            - ELA
            - SNOW
            - XIN
            - NEXI
            - AOA
            - NAS
            - BND
            - LUX
            - COS
            - CCC
            - SXP
            - ROI
            - DYN
            - SEQ
            - DEO
            - DST
            - CY
            - YEE
            - IOTA
            - SMR
            - AXE
            - XYM
            - XVM
            - FIC
            - HNS
            - ISK
            - ALTME
            - FUND
            - STX
            - SLU
            - COTI
            - ROGER
            - TOPL
            - KLY
            - SHFT
            - BTV
            - SKY
            - KLAY
            - BTQ
            - XCH
            - PLMNT
            - NULS
            - BBC
            - JGC
            - AVAX
            - BOBA
            - LOOP
            - STRK
            - NRG
            - FO
            - RTM
            - XRC
            - XPI
            - VARCH
            - TNKR
            - IPOS
            - MINA
            - BTY
            - SDGO
            - ARDR
            - MTR
            - SAFE
            - FLUX
            - RITO
            - XND
            - PAC
            - PWR
            - BELL
            - CHX
            - NEXA
            - BTT
            - FXTC
            - AMA
            - AXIV
            - EVE
            - STASH
            - CELO
            - TH
            - GRLC
            - GWL
            - ZYN
            - WICC
            - HOME
            - STC
            - STRAX
            - KAS
            - AKA
            - GENOM
            - ZAMA
            - SCR
            - VITE
            - WTC
            - ILT
            - XERO
            - LAX
            - BCO
            - BHD
            - PTN
            - VLX
            - WAN
            - WAVES
            - ABC
            - CRM
            - SEM
            - ION
            - FCT
            - WGR
            - OBSR
            - AFS
            - XDS
            - AQUA
            - HATCH
            - KUSD
            - GENS
            - EQ
            - QKC
            - FVDC
            - USDC
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ResolveDomainResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Resolves wallets and DNS records for a domain
      tags:
      - resolution
  /v1/reverse/{address}:
    get:
      description: resolve domain data by address
      operationId: resolve-data-by-address
      parameters:
      - description: superlink
        in: query
        name: nameservice
        schema:
          enum:
          - ud
          - ens
          - superlink
          - icann
          type: string
      - description: 0x1234561234556
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ResolveDomainResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Resolves wallets and DNS records for an address
      tags:
      - resolution
components:
  schemas:
    api.AccessTokenCreateRequest:
      properties:
        label:
          example: company-xyz
          type: string
        validFrom:
          example: 2023-06-08T00:00:00Z
          type: string
        validTill:
          example: 2023-06-15T23:59:59Z
          type: string
      type: object
    api.AccessTokenDeleteRequest:
      properties:
        id:
          example: 248b8553-effa-4d99-a906-041a54f7df87
          type: string
      type: object
    api.AccessTokenResponse:
      example:
        createdAt: 2023-06-08T10:30:00Z
        validTill: 2023-06-15T23:59:59Z
        id: 248b8553-effa-4d99-a906-041a54f7df87
        label: company-xyz
        partnerId: 328b8553-effa-4d99-a906-041a54f7df87
        validFrom: 2023-06-08T00:00:00Z
        type: ADMIN
        value: <JWT>
        updatedAt: 2023-06-08T15:45:00Z
      properties:
        createdAt:
          example: 2023-06-08T10:30:00Z
          type: string
        id:
          example: 248b8553-effa-4d99-a906-041a54f7df87
          type: string
        label:
          example: company-xyz
          type: string
        partnerId:
          example: 328b8553-effa-4d99-a906-041a54f7df87
          type: string
        type:
          enum:
          - ADMIN
          - CUSTOMER
          type: string
        updatedAt:
          example: 2023-06-08T15:45:00Z
          type: string
        validFrom:
          example: 2023-06-08T00:00:00Z
          type: string
        validTill:
          example: 2023-06-15T23:59:59Z
          type: string
        value:
          example: <JWT>
          type: string
      type: object
    api.AddressRecord:
      properties:
        addr:
          example: 0x1234567890abcdef1234567890abcdef12345678
          type: string
        coinId:
          example: 60
          type: integer
      type: object
    api.AdminAccessTokenCreateRequest:
      properties:
        label:
          example: company-xyz
          type: string
        partnerId:
          example: 248b8553-effa-4d99-a906-041a54f7df87
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/data.AccessTokenType'
          example: CUSTOMER
          type: object
        validFrom:
          example: 2023-06-08T00:00:00Z
          type: string
        validTill:
          example: 2023-06-15T23:59:59Z
          type: string
      type: object
    api.AdminPartnerCreateRequest:
      properties:
        name:
          example: company-xyz
          type: string
      type: object
    api.BadRequestResponse:
      example:
        errors:
        - field: field
          info: error message
        - field: field
          info: error message
      properties:
        errors:
          items:
            $ref: '#/components/schemas/api.ErrorResponse'
          type: array
      type: object
    api.Coin:
      enum:
      - BTC
      - LTC
      - DOGE
      - RDD
      - DASH
      - PPC
      - NMC
      - FTC
      - XCP
      - BLK
      - NSR
      - NBT
      - MZC
      - VIA
      - RBY
      - GRS
      - DGC
      - DGB
      - MONA
      - CLAM
      - XPM
      - NEOS
      - JBS
      - ZRC
      - VTC
      - NXT
      - BURST
      - MUE
      - ZOOM
      - SDC
      - PKB
      - PND
      - START
      - MOIN
      - EXP
      - DCR
      - XEM
      - PART
      - SHR
      - NVC
      - AC
      - BTCD
      - DOPE
      - TPC
      - AIB
      - EDRC
      - SYS
      - SLR
      - SMLY
      - ETH
      - PSB
      - XBC
      - NXS
      - INSN
      - OK
      - BRIT
      - CMP
      - CRW
      - BELA
      - ICX
      - FJC
      - MIX
      - CLUB
      - RICHX
      - POT
      - QRK
      - TRC
      - GRC
      - AUR
      - IXC
      - NLG
      - BITB
      - XMY
      - BSD
      - UNO
      - GB
      - SHM
      - CRX
      - BIQ
      - EVO
      - STO
      - BIGUP
      - GAME
      - DLC
      - ZYD
      - DBIC
      - STRAT
      - SH
      - MARS
      - UBQ
      - PTC
      - NRO
      - ARK
      - USC
      - THC
      - LINX
      - ECN
      - DNR
      - PINK
      - ATOM
      - PIVX
      - FLASH
      - ZEN
      - PUT
      - ZNY
      - UNIFY
      - XST
      - VC
      - XMR
      - VOX
      - NAV
      - ZEC
      - LSK
      - STEEM
      - XZC
      - RBTC
      - RPT
      - KMD
      - RIC
      - XRP
      - NEBL
      - ZCL
      - WHL
      - ERC
      - DMD
      - BTM
      - BIO
      - SSN
      - TOA
      - BTX
      - ACC
      - ELLA
      - PIRL
      - XNO
      - VIVO
      - FRST
      - HNC
      - BUZZ
      - MBRS
      - HC
      - HTML
      - ODN
      - ONX
      - RVN
      - GBX
      - BTCZ
      - POA
      - NYC
      - MXT
      - WC
      - MNX
      - MUSIC
      - CRAVE
      - STAK
      - LCH
      - EXCL
      - LCC
      - XFE
      - EOS
      - TRX
      - KOBO
      - HUSH
      - BAN
      - ETF
      - OMNI
      - BIFI
      - CNMC
      - BCN
      - RIN
      - ATP
      - EVT
      - ATN
      - BIS
      - NEET
      - BOPO
      - OOT
      - ALIAS
      - BOXY
      - FLO
      - MEC
      - BTDX
      - XAX
      - ANON
      - LTZ
      - SMART
      - XUEZ
      - HLM
      - WEB
      - ACM
      - BITC
      - TZC
      - VAR
      - IOV
      - FIO
      - BSV
      - DXN
      - PCX
      - LOKI
      - NIM
      - EXOS
      - ECA
      - SOOM
      - FREE
      - NPW
      - BST
      - ZEST
      - ABT
      - PION
      - ZBUX
      - KPL
      - TPAY
      - ZILLA
      - ANK
      - BCC
      - HPB
      - ONE
      - SBC
      - IPC
      - DMTC
      - OGC
      - SHIT
      - ANDES
      - AREPA
      - BOLI
      - RIL
      - BRAVO
      - ALGO
      - BZX
      - GXX
      - HEAT
      - XDN
      - FSN
      - BOLD
      - IOST
      - TKEY
      - USE
      - BCZ
      - IOC
      - ASF
      - MASS
      - FAIR
      - NUKO
      - CMT
      - EUNO
      - IOTX
      - ONION
      - BTS
      - UGAS
      - ADS
      - ARA
      - ZIL
      - MOAC
      - SWTC
      - VNSC
      - ECC
      - RPD
      - RAP
      - GARD
      - ZER
      - EBST
      - SHARD
      - CMM
      - BLOCK
      - AUDAX
      - LUNA
      - ZPM
      - MEM
      - SWIFT
      - FIX
      - CPC
      - VGO
      - DVT
      - MTNS
      - BLAST
      - DCT
      - AUX
      - USDP
      - HTDF
      - YEC
      - ARW
      - MDM
      - CYB
      - DOT
      - AEON
      - RES
      - AYA
      - DAPS
      - CSC
      - NOLLAR
      - XNOS
      - CPU
      - VCT
      - CZR
      - ABBC
      - HET
      - XAS
      - VDL
      - MED
      - ZVC
      - VESTX
      - DBT
      - SEOS
      - MXW
      - ZNZ
      - XCX
      - SOX
      - NYZO
      - ULC
      - KAL
      - XSN
      - DOGEC
      - QBC
      - IMG
      - QOS
      - PKT
      - LHD
      - CENNZ
      - UMBRU
      - EVER
      - XPC
      - NIX
      - UC
      - GALI
      - OLT
      - XBI
      - DONU
      - EARTHS
      - HDD
      - SUGAR
      - AILE
      - TENT
      - AIN
      - MSR
      - SUMO
      - ETN
      - BYTZ
      - WOW
      - XTNC
      - LTHN
      - NODE
      - AGM
      - TELOS
      - AION
      - KTV
      - ZCR
      - ERG
      - PESO
      - XRPHD
      - KSM
      - PCN
      - NCH
      - ICU
      - FNSA
      - AERGO
      - XTH
      - LV
      - PHR
      - VITAE
      - DIN
      - SPL
      - YCE
      - XLR
      - DGLD
      - XNS
      - EM
      - SHN
      - SEELE
      - AE
      - ODX
      - KAVA
      - GLEEC
      - FIL
      - RUTA
      - CSDT
      - ETI
      - ERE
      - BTH
      - MESG
      - FIMK
      - AR
      - OGO
      - RNG
      - PEXA
      - MOON
      - FCH
      - LAT
      - VEO
      - GFN
      - BAND
      - DROP
      - LYRA
      - CS
      - RUPX
      - THETA
      - SOL
      - THT
      - CFX
      - KUMA
      - HASH
      - CSPR
      - EARTH
      - EGLD
      - CHI
      - KOTO
      - XRD
      - AETH
      - DNA
      - SIERRA
      - LET
      - BTCV
      - ABA
      - SCC
      - EDG
      - AMS
      - BU
      - GRAM
      - YAP
      - NOVO
      - GHOST
      - HST
      - PRJ
      - YOU
      - BYND
      - FLOW
      - SCDO
      - BIND
      - COINEVO
      - SCRIBE
      - HYN
      - BHP
      - MKF
      - XDC
      - STR
      - HBC
      - KTS
      - LKR
      - XWC
      - DEAL
      - NTY
      - AG
      - CICO
      - IRIS
      - BDX
      - SLS
      - SRM
      - BPS
      - NKN
      - ICL
      - BONO
      - PLC
      - DUN
      - DMCH
      - CTC
      - GBCR
      - XDAG
      - SCAP
      - GTM
      - RNL
      - GRIN
      - MWC
      - DOCK
      - POLYX
      - DIVER
      - APN
      - MTC
      - NC
      - XINY
      - BUFS
      - STOS
      - TON
      - TAFT
      - HYDRA
      - NOR
      - WCN
      - PSWAP
      - XOR
      - SSP
      - DEI
      - ZERO
      - ALPHA
      - NOBL
      - EAST
      - KDA
      - SOUL
      - LORE
      - FNR
      - NEXUS
      - QTZ
      - XMA
      - CALL
      - VAL
      - EMIT
      - APTOS
      - ADON
      - BTSG
      - LFC
      - TREE
      - LX
      - XLN
      - ZRB
      - UCO
      - WMP
      - KOIN
      - PIRATE
      - ACT
      - PRKL
      - SSC
      - GC
      - PLGR
      - MPLGR
      - KNOX
      - ZED
      - CNDL
      - WLKRR
      - YUNGE
      - VOKEN
      - APL
      - EVRYNET
      - NENG
      - CHTA
      - OAS
      - KLV
      - VEIL
      - GTB
      - XDAI
      - COM
      - CHC
      - SERF
      - BNB
      - SIN
      - DLN
      - BONTE
      - PEER
      - ZET
      - ABY
      - XVC
      - MCX
      - HEALIOS
      - BMK
      - DENTX
      - CFG
      - XPRT
      - HONEY
      - BALLZ
      - COSA
      - BR
      - SUI
      - UIDD
      - ACA
      - BNC
      - TAU
      - PDEX
      - ZKS
      - QVT
      - MEER
      - REEF
      - CLO
      - BDB
      - ACE
      - CCN
      - BBA
      - CRUZ
      - SAPP
      - KYAN
      - AZR
      - CFL
      - TRTT
      - PNY
      - BECN
      - MONK
      - SAGA
      - SUV
      - ESK
      - BIR
      - MOBIC
      - FLS
      - DSM
      - HVH
      - MOB
      - IF
      - NAM
      - ZBC
      - NEO
      - TOMO
      - XSEL
      - LKSC
      - AS
      - XEC
      - LMO
      - HNT
      - FIS
      - SGE
      - GERT
      - META
      - FRA
      - CCD
      - GHM
      - LTP
      - VKAX
      - MATIC
      - UNW
      - TWINS
      - TLOS
      - AU
      - VCG
      - AIOZ
      - CORE
      - PEC
      - UNT
      - CAPS
      - SUM
      - TT
      - BKT
      - NODL
      - PCOIN
      - TAO
      - FTM
      - RPG
      - LAKE
      - ELV
      - BIC
      - EVC
      - ONT
      - CZZ
      - MCM
      - BTCR
      - RISE
      - DFI
      - EFI
      - ALPH
      - GLMR
      - MOVR
      - WPC
      - WEI
      - DFC
      - HYC
      - BEAM
      - ELF
      - AUDL
      - ATH
      - NEW
      - BTA
      - NEOX
      - MEWC
      - BCX
      - XTZ
      - BBP
      - ADA
      - TES
      - ZTX
      - CLC
      - VIPS
      - XMX
      - TRTL
      - EGEM
      - HODL
      - PHL
      - SC
      - MYT
      - POLIS
      - XMCC
      - COLX
      - GIN
      - MNP
      - MLN
      - KIN
      - EOSC
      - PKC
      - SKT
      - ANY
      - MCASH
      - "TRUE"
      - IOTE
      - BAY
      - XRG
      - CHZ
      - ASK
      - QTUM
      - ETP
      - GXC
      - CRP
      - ELA
      - SNOW
      - XIN
      - NEXI
      - AOA
      - NAS
      - BND
      - LUX
      - COS
      - CCC
      - SXP
      - ROI
      - DYN
      - SEQ
      - DEO
      - DST
      - CY
      - YEE
      - IOTA
      - SMR
      - AXE
      - XYM
      - XVM
      - FIC
      - HNS
      - ISK
      - ALTME
      - FUND
      - STX
      - SLU
      - COTI
      - ROGER
      - TOPL
      - KLY
      - SHFT
      - BTV
      - SKY
      - KLAY
      - BTQ
      - XCH
      - PLMNT
      - NULS
      - BBC
      - JGC
      - AVAX
      - BOBA
      - LOOP
      - STRK
      - NRG
      - FO
      - RTM
      - XRC
      - XPI
      - VARCH
      - TNKR
      - IPOS
      - MINA
      - BTY
      - SDGO
      - ARDR
      - MTR
      - SAFE
      - FLUX
      - RITO
      - XND
      - PAC
      - PWR
      - BELL
      - CHX
      - NEXA
      - BTT
      - FXTC
      - AMA
      - AXIV
      - EVE
      - STASH
      - CELO
      - TH
      - GRLC
      - GWL
      - ZYN
      - WICC
      - HOME
      - STC
      - STRAX
      - KAS
      - AKA
      - GENOM
      - ZAMA
      - SCR
      - VITE
      - WTC
      - ILT
      - XERO
      - LAX
      - BCO
      - BHD
      - PTN
      - VLX
      - WAN
      - WAVES
      - ABC
      - CRM
      - SEM
      - ION
      - FCT
      - WGR
      - OBSR
      - AFS
      - XDS
      - AQUA
      - HATCH
      - KUSD
      - GENS
      - EQ
      - QKC
      - FVDC
      - USDC
      type: string
      x-enum-varnames:
      - BTC
      - LTC
      - DOGE
      - RDD
      - DASH
      - PPC
      - NMC
      - FTC
      - XCP
      - BLK
      - NSR
      - NBT
      - MZC
      - VIA
      - RBY
      - GRS
      - DGC
      - DGB
      - MONA
      - CLAM
      - XPM
      - NEOS
      - JBS
      - ZRC
      - VTC
      - NXT
      - BURST
      - MUE
      - ZOOM
      - SDC
      - PKB
      - PND
      - START
      - MOIN
      - EXP
      - DCR
      - XEM
      - PART
      - SHR
      - NVC
      - AC
      - BTCD
      - DOPE
      - TPC
      - AIB
      - EDRC
      - SYS
      - SLR
      - SMLY
      - ETH
      - PSB
      - XBC
      - NXS
      - INSN
      - OK
      - BRIT
      - CMP
      - CRW
      - BELA
      - ICX
      - FJC
      - MIX
      - CLUB
      - RICHX
      - POT
      - QRK
      - TRC
      - GRC
      - AUR
      - IXC
      - NLG
      - BITB
      - XMY
      - BSD
      - UNO
      - GB
      - SHM
      - CRX
      - BIQ
      - EVO
      - STO
      - BIGUP
      - GAME
      - DLC
      - ZYD
      - DBIC
      - STRAT
      - SH
      - MARS
      - UBQ
      - PTC
      - NRO
      - ARK
      - USC
      - THC
      - LINX
      - ECN
      - DNR
      - PINK
      - ATOM
      - PIVX
      - FLASH
      - ZEN
      - PUT
      - ZNY
      - UNIFY
      - XST
      - VC
      - XMR
      - VOX
      - NAV
      - ZEC
      - LSK
      - STEEM
      - XZC
      - RBTC
      - RPT
      - KMD
      - RIC
      - XRP
      - NEBL
      - ZCL
      - WHL
      - ERC
      - DMD
      - BTM
      - BIO
      - SSN
      - TOA
      - BTX
      - ACC
      - ELLA
      - PIRL
      - XNO
      - VIVO
      - FRST
      - HNC
      - BUZZ
      - MBRS
      - HC
      - HTML
      - ODN
      - ONX
      - RVN
      - GBX
      - BTCZ
      - POA
      - NYC
      - MXT
      - WC
      - MNX
      - MUSIC
      - CRAVE
      - STAK
      - LCH
      - EXCL
      - LCC
      - XFE
      - EOS
      - TRX
      - KOBO
      - HUSH
      - BAN
      - ETF
      - OMNI
      - BIFI
      - CNMC
      - BCN
      - RIN
      - ATP
      - EVT
      - ATN
      - BIS
      - NEET
      - BOPO
      - OOT
      - ALIAS
      - BOXY
      - FLO
      - MEC
      - BTDX
      - XAX
      - ANON
      - LTZ
      - SMART
      - XUEZ
      - HLM
      - WEB
      - ACM
      - BITC
      - TZC
      - VAR
      - IOV
      - FIO
      - BSV
      - DXN
      - PCX
      - LOKI
      - NIM
      - EXOS
      - ECA
      - SOOM
      - FREE
      - NPW
      - BST
      - ZEST
      - ABT
      - PION
      - ZBUX
      - KPL
      - TPAY
      - ZILLA
      - ANK
      - BCC
      - HPB
      - ONE
      - SBC
      - IPC
      - DMTC
      - OGC
      - SHIT
      - ANDES
      - AREPA
      - BOLI
      - RIL
      - BRAVO
      - ALGO
      - BZX
      - GXX
      - HEAT
      - XDN
      - FSN
      - BOLD
      - IOST
      - TKEY
      - USE
      - BCZ
      - IOC
      - ASF
      - MASS
      - FAIR
      - NUKO
      - CMT
      - EUNO
      - IOTX
      - ONION
      - BTS
      - UGAS
      - ADS
      - ARA
      - ZIL
      - MOAC
      - SWTC
      - VNSC
      - ECC
      - RPD
      - RAP
      - GARD
      - ZER
      - EBST
      - SHARD
      - CMM
      - BLOCK
      - AUDAX
      - LUNA
      - ZPM
      - MEM
      - SWIFT
      - FIX
      - CPC
      - VGO
      - DVT
      - MTNS
      - BLAST
      - DCT
      - AUX
      - USDP
      - HTDF
      - YEC
      - ARW
      - MDM
      - CYB
      - DOT
      - AEON
      - RES
      - AYA
      - DAPS
      - CSC
      - NOLLAR
      - XNOS
      - CPU
      - VCT
      - CZR
      - ABBC
      - HET
      - XAS
      - VDL
      - MED
      - ZVC
      - VESTX
      - DBT
      - SEOS
      - MXW
      - ZNZ
      - XCX
      - SOX
      - NYZO
      - ULC
      - KAL
      - XSN
      - DOGEC
      - QBC
      - IMG
      - QOS
      - PKT
      - LHD
      - CENNZ
      - UMBRU
      - EVER
      - XPC
      - NIX
      - UC
      - GALI
      - OLT
      - XBI
      - DONU
      - EARTHS
      - HDD
      - SUGAR
      - AILE
      - TENT
      - AIN
      - MSR
      - SUMO
      - ETN
      - BYTZ
      - WOW
      - XTNC
      - LTHN
      - NODE
      - AGM
      - TELOS
      - AION
      - KTV
      - ZCR
      - ERG
      - PESO
      - XRPHD
      - KSM
      - PCN
      - NCH
      - ICU
      - FNSA
      - AERGO
      - XTH
      - LV
      - PHR
      - VITAE
      - DIN
      - SPL
      - YCE
      - XLR
      - DGLD
      - XNS
      - EM
      - SHN
      - SEELE
      - AE
      - ODX
      - KAVA
      - GLEEC
      - FIL
      - RUTA
      - CSDT
      - ETI
      - ERE
      - BTH
      - MESG
      - FIMK
      - AR
      - OGO
      - RNG
      - PEXA
      - MOON
      - FCH
      - LAT
      - VEO
      - GFN
      - BAND
      - DROP
      - LYRA
      - CS
      - RUPX
      - THETA
      - SOL
      - THT
      - CFX
      - KUMA
      - HASH
      - CSPR
      - EARTH
      - EGLD
      - CHI
      - KOTO
      - XRD
      - AETH
      - DNA
      - SIERRA
      - LET
      - BTCV
      - ABA
      - SCC
      - EDG
      - AMS
      - BU
      - GRAM
      - YAP
      - NOVO
      - GHOST
      - HST
      - PRJ
      - YOU
      - BYND
      - FLOW
      - SCDO
      - BIND
      - COINEVO
      - SCRIBE
      - HYN
      - BHP
      - MKF
      - XDC
      - STR
      - HBC
      - KTS
      - LKR
      - XWC
      - DEAL
      - NTY
      - AG
      - CICO
      - IRIS
      - BDX
      - SLS
      - SRM
      - BPS
      - NKN
      - ICL
      - BONO
      - PLC
      - DUN
      - DMCH
      - CTC
      - GBCR
      - XDAG
      - SCAP
      - GTM
      - RNL
      - GRIN
      - MWC
      - DOCK
      - POLYX
      - DIVER
      - APN
      - MTC
      - NC
      - XINY
      - BUFS
      - STOS
      - TON
      - TAFT
      - HYDRA
      - NOR
      - WCN
      - PSWAP
      - XOR
      - SSP
      - DEI
      - ZERO
      - ALPHA
      - NOBL
      - EAST
      - KDA
      - SOUL
      - LORE
      - FNR
      - NEXUS
      - QTZ
      - XMA
      - CALL
      - VAL
      - EMIT
      - APTOS
      - ADON
      - BTSG
      - LFC
      - TREE
      - LX
      - XLN
      - ZRB
      - UCO
      - WMP
      - KOIN
      - PIRATE
      - ACT
      - PRKL
      - SSC
      - GC
      - PLGR
      - MPLGR
      - KNOX
      - ZED
      - CNDL
      - WLKRR
      - YUNGE
      - VOKEN
      - APL
      - EVRYNET
      - NENG
      - CHTA
      - OAS
      - KLV
      - VEIL
      - GTB
      - XDAI
      - COM
      - CHC
      - SERF
      - BNB
      - SIN
      - DLN
      - BONTE
      - PEER
      - ZET
      - ABY
      - XVC
      - MCX
      - HEALIOS
      - BMK
      - DENTX
      - CFG
      - XPRT
      - HONEY
      - BALLZ
      - COSA
      - BR
      - SUI
      - UIDD
      - ACA
      - BNC
      - TAU
      - PDEX
      - ZKS
      - QVT
      - MEER
      - REEF
      - CLO
      - BDB
      - ACE
      - CCN
      - BBA
      - CRUZ
      - SAPP
      - KYAN
      - AZR
      - CFL
      - TRTT
      - PNY
      - BECN
      - MONK
      - SAGA
      - SUV
      - ESK
      - BIR
      - MOBIC
      - FLS
      - DSM
      - HVH
      - MOB
      - IF
      - NAM
      - ZBC
      - NEO
      - TOMO
      - XSEL
      - LKSC
      - AS
      - XEC
      - LMO
      - HNT
      - FIS
      - SGE
      - GERT
      - META
      - FRA
      - CCD
      - GHM
      - LTP
      - VKAX
      - MATIC
      - UNW
      - TWINS
      - TLOS
      - AU
      - VCG
      - AIOZ
      - CORE
      - PEC
      - UNT
      - CAPS
      - SUM
      - TT
      - BKT
      - NODL
      - PCOIN
      - TAO
      - FTM
      - RPG
      - LAKE
      - ELV
      - BIC
      - EVC
      - ONT
      - CZZ
      - MCM
      - BTCR
      - RISE
      - DFI
      - EFI
      - ALPH
      - GLMR
      - MOVR
      - WPC
      - WEI
      - DFC
      - HYC
      - BEAM
      - ELF
      - AUDL
      - ATH
      - NEW
      - BTA
      - NEOX
      - MEWC
      - BCX
      - XTZ
      - BBP
      - ADA
      - TES
      - ZTX
      - CLC
      - VIPS
      - XMX
      - TRTL
      - EGEM
      - HODL
      - PHL
      - SC
      - MYT
      - POLIS
      - XMCC
      - COLX
      - GIN
      - MNP
      - MLN
      - KIN
      - EOSC
      - PKC
      - SKT
      - ANY
      - MCASH
      - "TRUE"
      - IOTE
      - BAY
      - XRG
      - CHZ
      - ASK
      - QTUM
      - ETP
      - GXC
      - CRP
      - ELA
      - SNOW
      - XIN
      - NEXI
      - AOA
      - NAS
      - BND
      - LUX
      - COS
      - CCC
      - SXP
      - ROI
      - DYN
      - SEQ
      - DEO
      - DST
      - CY
      - YEE
      - IOTA
      - SMR
      - AXE
      - XYM
      - XVM
      - FIC
      - HNS
      - ISK
      - ALTME
      - FUND
      - STX
      - SLU
      - COTI
      - ROGER
      - TOPL
      - KLY
      - SHFT
      - BTV
      - SKY
      - KLAY
      - BTQ
      - XCH
      - PLMNT
      - NULS
      - BBC
      - JGC
      - AVAX
      - BOBA
      - LOOP
      - STRK
      - NRG
      - FO
      - RTM
      - XRC
      - XPI
      - VARCH
      - TNKR
      - IPOS
      - MINA
      - BTY
      - SDGO
      - ARDR
      - MTR
      - SAFE
      - FLUX
      - RITO
      - XND
      - PAC
      - PWR
      - BELL
      - CHX
      - NEXA
      - BTT
      - FXTC
      - AMA
      - AXIV
      - EVE
      - STASH
      - CELO
      - TH
      - GRLC
      - GWL
      - ZYN
      - WICC
      - HOME
      - STC
      - STRAX
      - KAS
      - AKA
      - GENOM
      - ZAMA
      - SCR
      - VITE
      - WTC
      - ILT
      - XERO
      - LAX
      - BCO
      - BHD
      - PTN
      - VLX
      - WAN
      - WAVES
      - ABC
      - CRM
      - SEM
      - ION
      - FCT
      - WGR
      - OBSR
      - AFS
      - XDS
      - AQUA
      - HATCH
      - KUSD
      - GENS
      - EQ
      - QKC
      - FVDC
      - USDC
    api.CryptoPurchaseRequest:
      properties:
        currency:
          example: ETH
          type: string
        domain:
          example: firstname.lastname
          type: string
        ownerAddress:
          example: 0x1234567890abcdef1234567890abcdef12345678
          type: string
        ownerEmail:
          example: nora@gmail.com
          type: string
        ownerName:
          example: Nora
          type: string
        partnerId:
          example: 248b8553-effa-4d99-a906-041a54f7df87
          type: string
        walletAddrs:
          items:
            $ref: '#/components/schemas/api.AddressRecord'
          type: array
        years:
          example: 1
          type: integer
      type: object
    api.DNSRecord:
      example:
        name: firstname.lastname
        type: A
        ttl: 3600
        value: 192.168.0.1
      properties:
        name:
          example: firstname.lastname
          type: string
        ttl:
          example: 3600
          type: integer
        type:
          example: A
          type: string
        value:
          example: 192.168.0.1
          type: string
      type: object
    api.DomainBasicInformation:
      example:
        createdAt: 2024-01-01 07:31:02.315
        image: https://api.superlink.me/card-image/jon.johnson.svg
        name: jon.johnson
        type: Superlink
        status: Active
      properties:
        createdAt:
          example: 2024-01-01 07:31:02.315
          type: string
        image:
          example: https://api.superlink.me/card-image/jon.johnson.svg
          type: string
        name:
          example: jon.johnson
          type: string
        status:
          example: Active
          type: string
        type:
          example: Superlink
          type: string
      type: object
    api.DomainMetadataAttribute:
      example:
        value: "{}"
        trait_type: trait_type
      properties:
        trait_type:
          type: string
        value:
          description: This can be string or int
          type: object
      type: object
    api.DomainMetadataResponse:
      example:
        image: https://api.superlink.me/card-image/jon.johnson.svg
        animation_url: https://superlink.me/animation?name=jon.johnson
        external_url: https://superlink.me/animation?name=jon.johnson
        background_color: FFFFFF
        namehash: 0x3538e2ebd840880e82448521324fc0c308fc6cd576a65a532a51c8d60c32b58a
        tokenId: "24073090563576551262032245933984978621011965102670616730489196997318148273546"
        image_url: https://api.superlink.me/card-image/jon.johnson.svg
        name: jon.johnson
        description: A blockchain domain. Use it to resolve your cryptocurrency addresses
          and decentralized websites.
        attributes:
        - value: "{}"
          trait_type: trait_type
        - value: "{}"
          trait_type: trait_type
        avatar: https://assets.superlink.me/avatar/b94c22d4-02b4-464e-aead-3f6cafceb1db
      properties:
        animation_url:
          example: https://superlink.me/animation?name=jon.johnson
          type: string
        attributes:
          items:
            $ref: '#/components/schemas/api.DomainMetadataAttribute'
          type: array
        avatar:
          example: https://assets.superlink.me/avatar/b94c22d4-02b4-464e-aead-3f6cafceb1db
          type: string
        background_color:
          example: FFFFFF
          type: string
        description:
          example: A blockchain domain. Use it to resolve your cryptocurrency addresses
            and decentralized websites.
          type: string
        external_url:
          example: https://superlink.me/animation?name=jon.johnson
          type: string
        image:
          example: https://api.superlink.me/card-image/jon.johnson.svg
          type: string
        image_url:
          example: https://api.superlink.me/card-image/jon.johnson.svg
          type: string
        name:
          example: jon.johnson
          type: string
        namehash:
          example: 0x3538e2ebd840880e82448521324fc0c308fc6cd576a65a532a51c8d60c32b58a
          type: string
        tokenId:
          example: "24073090563576551262032245933984978621011965102670616730489196997318148273546"
          type: string
      type: object
    api.ErrorResponse:
      example:
        field: field
        info: error message
      properties:
        field:
          example: field
          type: string
        info:
          example: error message
          type: string
      type: object
    api.GetAllDomainsResponse:
      example:
        domains:
        - createdAt: 2024-01-01 07:31:02.315
          image: https://api.superlink.me/card-image/jon.johnson.svg
          name: jon.johnson
          type: Superlink
          status: Active
        - createdAt: 2024-01-01 07:31:02.315
          image: https://api.superlink.me/card-image/jon.johnson.svg
          name: jon.johnson
          type: Superlink
          status: Active
      properties:
        domains:
          items:
            $ref: '#/components/schemas/api.DomainBasicInformation'
          type: array
      type: object
    api.HNSBlockchainRecords:
      example:
        a: 1.2.3.4
        ds2: 0ead833907382ecfbe7134dc3ded40befe91f4d59a9c8bf3247b6a390b678bbb
        ds1: 64385959c14e13c10600e82ae0e203e5c7c317a4
        ds4: 4ef86f59cc6a0aaa9658a293871b6ca1ba93b2b60853949a9cbc79b10101b3572b3e3537974fda3d8b038bc42ed3f649
      properties:
        a:
          example: 1.2.3.4
          type: string
        ds1:
          example: 64385959c14e13c10600e82ae0e203e5c7c317a4
          type: string
        ds2:
          example: 0ead833907382ecfbe7134dc3ded40befe91f4d59a9c8bf3247b6a390b678bbb
          type: string
        ds4:
          example: 4ef86f59cc6a0aaa9658a293871b6ca1ba93b2b60853949a9cbc79b10101b3572b3e3537974fda3d8b038bc42ed3f649
          type: string
      type: object
    api.HNSCreateDomainRequest:
      properties:
        addresses:
          additionalProperties:
            type: string
          type: object
        domain:
          example: domain.com
          type: string
        ownerAddress:
          example: 0x1234567890abcdef1234567890abcdef12345678
          type: string
      type: object
    api.HNSCreateDomainWithWalletRequest:
      properties:
        addresses:
          additionalProperties:
            type: string
          type: object
        domain:
          example: domain.com
          type: string
        message:
          example: 0x1234567890abcdef1234567890abcdef12345678
          type: string
        ownerAddress:
          example: 0x1234567890abcdef1234567890abcdef12345678
          type: string
        signedMessage:
          example: 0x1234567890abcdef1234567890abcdef12345678
          type: string
      type: object
    api.HNSDomainAvailableResponse:
      example:
        domain: test1.test
        status: available
      properties:
        domain:
          example: test1.test
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/api.SubdomainStatus'
          example: available
          type: object
      type: object
    api.HNSRegisterTLDRequest:
      properties:
        partnerId:
          example: 248b8553-effa-4d99-a906-041a54f7df87
          type: string
        tld:
          example: com
          type: string
      type: object
    api.HNSRegisterTLDResponse:
      example:
        records:
          a: 1.2.3.4
          ds2: 0ead833907382ecfbe7134dc3ded40befe91f4d59a9c8bf3247b6a390b678bbb
          ds1: 64385959c14e13c10600e82ae0e203e5c7c317a4
          ds4: 4ef86f59cc6a0aaa9658a293871b6ca1ba93b2b60853949a9cbc79b10101b3572b3e3537974fda3d8b038bc42ed3f649
        tld: test
      properties:
        records:
          $ref: '#/components/schemas/api.HNSBlockchainRecords'
        tld:
          example: test
          type: string
      type: object
    api.InternalServerErrorResponse:
      example:
        message: Internal server error
      properties:
        message:
          example: Internal server error
          type: string
      type: object
    api.MarketCryptoEstimation:
      example:
        symbol: eth
        name: Ethereum
        exhangeRate: 0.001
      properties:
        exhangeRate:
          example: 0.001
          type: number
        name:
          example: Ethereum
          type: string
        symbol:
          example: eth
          type: string
      type: object
    api.MarketCryptoEstimationResponse:
      example:
        fiatCurrency: USD
        region: US
        estimations:
        - symbol: eth
          name: Ethereum
          exhangeRate: 0.001
        - symbol: eth
          name: Ethereum
          exhangeRate: 0.001
      properties:
        estimations:
          items:
            $ref: '#/components/schemas/api.MarketCryptoEstimation'
          type: array
        fiatCurrency:
          example: USD
          type: string
        region:
          example: US
          type: string
      type: object
    api.MarketCryptoPurchaseResponse:
      example:
        amount: 0.001
        protocol: ETH
        address: 0xA5D70E12348Fef6A123EBD1231b123c51235E321
        orderId: 92456d2b-c315-4b2b-b234-c674490b7324
        paymentId: fa13ba20-da1d-426f-a0e4-f7629caae626
        expiryDateEpoch: 1697009575596
[...]
